<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Strict Resume - it's vCard/resume template</title>
<link rel="stylesheet" href="../css/examples/colors/brown.css">
</head>
<body>
<div id="js-overlay" class="overlay">	
 	<div class="preloader preloader_type1">
		<div class="preloader__item">
			<div class="preloader__rotator">
				<div class="preloader__rotator-element"></div>
				<div class="preloader__rotator-element"></div>
			</div>
		</div>
	</div> 
</div>
<script>document.body.className = "js-yes";</script>
<div class="page">
	<aside id="js-sidebar" class="sidebar">
		<img src="http://placehold.it/1000x1500" class="mobile-avatar" alt="avatar of Bernard Balfour">
		<div class="avatar"></div>
		<div class="welcome">
			<h1 class="welcome__msg">
				I'am Bernard Balfour
				<span class="welcome__label">Front-end developer from Denmark</span>
			</h1>
		</div>
	</aside>
	<div class="container">
		<header class="header">
			<nav id="js-nav" class="nav">
				<a href="#about" class="nav__link js-nav__link_active js-nav__link">
					<i class="icon nav__icon icon_white icon-account_circle"></i>
					<span class="nav__label">About me</span>
				</a>				
				<a href="#resume" class="nav__link js-nav__link">
					<i class="icon nav__icon icon_white icon-assignment"></i>
					<span class="nav__label">Resume</span>
				</a>				
				<a href="#services" class="nav__link js-nav__link">
					<i class="icon nav__icon icon_white icon-keyboard"></i>
					<span class="nav__label">Services</span>
				</a>				
				<a href="#portfolio" class="nav__link js-nav__link">
					<i class="icon nav__icon icon_white icon-laptop_windows"></i>
					<span class="nav__label">Portfolio</span>
				</a>				
				<a href="#blog" class="nav__link js-nav__link">
					<i class="icon nav__icon icon_white icon-mode_edit"></i>
					<span class="nav__label">Blog</span>
				</a>				
				<a href="#contacts" class="nav__link js-nav__link">
					<i class="icon nav__icon icon_white icon-person_pin_circle"></i>
					<span class="nav__label">Contacts</span>
				</a>				
			</nav>
		</header>
		<div class="content">
			<div id="js-tabs-infoblocks" class="tabs-infoblocks">
				<section id="about" class="tabs-infoblock js-about">
					<div class="tabs-infoblock__inner">
						<h2 class="title main-title"><span class="main-title__label">About me</span></h2>
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-bookmark"></i>
								<span class="title__label">I’m Front-end Developer</span>
							</h3>
							<blockquote class="blockquote">
								<i class="icon blockquote__quote blockquote__quote-left icon-quote-left"></i>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sit ipsam at et id
									quisquam magni mollitia fugit esse voluptatibus velit earum labore hic laboriosam quidem culpa
									obcaecati repudiandae delectus eligendi cum tempora amet impedit corporis! Iusto, enim, autem,
									omnis reiciendis porro amet alias non temporibus pariatur nobis adipisci saepe!
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam velit beatae recusandae saepe
									quaerat illo id magni dignissimos corporis enim. Aut, soluta, vitae, dolorem accusamus et iste quidem 
									nostrum blanditiis voluptatum quam sunt veniam laborum. Ipsum, facere earum doloribus. Veritatis.
								</p>
								<i class="icon blockquote__quote blockquote__quote-right icon-quote-right"></i>
							</blockquote>						
						</div>					
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-file-text-o"></i>
								<span class="title__label">Personal Info</span>
							</h3>
							<div class="iconboxs">
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-earth"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">Language</span>
										<span class="iconbox__label">English</span>
									</div>
								</div>
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-calendar"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">Date of birth</span>
										<span class="iconbox__label">03 December 1990</span>
									</div>
								</div>						
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-location"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">Hometown</span>
										<span class="iconbox__label">Copenhagen</span>
									</div>
								</div>
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-man-woman"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">Relationship</span>
										<span class="iconbox__label">Married</span>
									</div>
								</div>
							</div>
						</div>	
						<div class="content__section">
							<div class="skills">
								<h3 class="title title_middle">
									<i class="icon icon_small main-icon icon-diamond"></i>
									<span class="title__label">My Skills</span>
								</h3>
								<div class="progress-bars">
									<div class="progress-bar">
										<span class="progress-bar__name">HTML / CSS</span>
										<div class="progress">
											<span class="progress__value" style="width: 90%"></span>
										</div>
									</div>
									<div class="progress-bar">
										<span class="progress-bar__name">JavaScript</span>
										<div class="progress">
											<span class="progress__value" style="width: 80%"></span>
										</div>
									</div>	
									<div class="progress-bar">
										<span class="progress-bar__name">Web-Design</span>
										<div class="progress">
											<span class="progress__value" style="width: 60%"></span>
										</div>
									</div>
									<div class="progress-bar">
										<span class="progress-bar__name">Mobile</span>
										<div class="progress">
											<span class="progress__value" style="width: 80%"></span>
										</div>
									</div>
								</div>
							</div>						
						</div>						
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-trophy"></i>
								<span class="title__label">My Stats</span>
							</h3>
							<div class="iconboxs">
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-thumbs-up"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">20+</span>
										<span class="iconbox__label">projects done</span>
									</div>
								</div>						
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-smile"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">100+</span>
										<span class="iconbox__label">happy clients</span>
									</div>
								</div>
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-coffee"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">40+</span>
										<span class="iconbox__label">cups of coffee</span>
									</div>
								</div>
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-embed2"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">1 000 000</span>
										<span class="iconbox__label">lines of coding</span>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</section>
				<section id="resume" class="tabs-infoblock resume">
					<div class="tabs-infoblock__inner">
						<h2 class="title main-title"><span class="main-title__label">Resume</span></h2>
						<div class="content__section">
							<blockquote class="blockquote">
								<i class="icon blockquote__quote blockquote__quote-left icon-quote-left"></i>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sit ipsam at et id
									quisquam magni mollitia fugit esse voluptatibus velit earum labore hic laboriosam quidem culpa
									obcaecati repudiandae delectus eligendi cum tempora amet impedit corporis! Iusto, enim, autem,
									omnis reiciendis porro amet alias non temporibus pariatur nobis adipisci saepe!
								</p>
								<i class="icon blockquote__quote blockquote__quote-right icon-quote-right"></i>
							</blockquote>
							<a href="#0" class="link-flat download-resume">
								<i class="icon link__icon icon-cloud-download"></i>
								<span class="download-resume__label">Download resume</span>
							</a>
						</div>
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-graduation-cap"></i>
								<span class="title__label">Education</span>
							</h3>
							<div class="timeline">
								<article class="timeline__box">
									<h4 class="title title_small">Name of Institute</h4>
									<span class="timeline__caption">2002-2004</span>
									<div class="timeline__content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione,
											ut harum ab cum vitae quam ipsam consequuntur necessitatibus ad corporis!
										</p>
									</div>
								</article>
								<article class="timeline__box">
									<h4 class="title title_small">Name of Institute</h4>
									<span class="timeline__caption">2005-2010</span>
									<div class="timeline__content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione,
											ut harum ab cum vitae quam ipsam consequuntur necessitatibus ad corporis!
										</p>
									</div>
								</article>
								<article class="timeline__box">
									<h4 class="title title_small">Name of Institute</h4>
									<span class="timeline__caption">2011-2013</span>
									<div class="timeline__content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione,
											ut harum ab cum vitae quam ipsam consequuntur necessitatibus ad corporis!
										</p>
									</div>
								</article>
								<article class="timeline__box">
									<h4 class="title title_small">Name of Institute</h4>
									<span class="timeline__caption">2013-2016</span>
									<div class="timeline__content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione,
											ut harum ab cum vitae quam ipsam consequuntur necessitatibus ad corporis!
										</p>
									</div>
								</article>									
							</div>
						</div>
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-suitcase"></i>
								<span class="title__label">Work experience</span>
							</h3>
							<div class="timeline">
								<article class="timeline__box">
									<h4 class="title title_small">Trainee</h4>
									<span class="timeline__caption">2011-2013 present Web-studio "Name Studio"</span>
									<div class="timeline__content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione,
											ut harum ab cum vitae quam ipsam consequuntur necessitatibus ad corporis!
										</p>
									</div>
								</article>
								<article class="timeline__box">
									<h4 class="title title_small">Junior Front-end developer</h4>
									<span class="timeline__caption">2013-2014 present Web-studio "Name Studio"</span>
									<div class="timeline__content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione,
											ut harum ab cum vitae quam ipsam consequuntur necessitatibus ad corporis!
										</p>
									</div>
								</article>
								<article class="timeline__box">
									<h4 class="title title_small">Front-end developer</h4>
									<span class="timeline__caption">2014-2015 present Web-studio "Name Studio"</span>
									<div class="timeline__content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione,
											ut harum ab cum vitae quam ipsam consequuntur necessitatibus ad corporis!
										</p>
									</div>
								</article>
								<article class="timeline__box">
									<h3 class="title title_small">Exclusive author</h3>
									<span class="timeline__caption">2015 - present Web-studio "Name Studio"</span>
									<div class="timeline__content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione,
											ut harum ab cum vitae quam ipsam consequuntur necessitatibus ad corporis!
										</p>
									</div>
								</article>									
							</div>
						</div>
					</div>
				</section>
				<section id="services" class="tabs-infoblock services">
					<div class="tabs-infoblock__inner">
						<h2 class="title main-title"><span class="main-title__label">Services</span></h2>
						<div class="content__section">
							<blockquote class="blockquote">
								<i class="icon blockquote__quote blockquote__quote-left icon-quote-left"></i>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sit ipsam at et id
									quisquam magni mollitia fugit esse voluptatibus velit earum labore hic laboriosam quidem culpa
									obcaecati repudiandae delectus eligendi cum tempora amet impedit corporis! Iusto, enim, autem,
									omnis reiciendis porro amet alias non temporibus pariatur nobis adipisci saepe!
								</p>
								<i class="icon blockquote__quote blockquote__quote-right icon-quote-right"></i>
							</blockquote>
						</div>					
						<div class="content__section">
							<div class="cards">
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<i class="icon icon_large card__icon icon-eye"></i>
									</header>
									<div class="card__content">
										<h3 class="title title_small card__title">UI Design</h3>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
								</article>
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<i class="icon icon_large card__icon icon-html5"></i>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Front-end programming</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
								</article>	
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<i class="icon icon_large card__icon icon-tablet"></i>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Mobile application</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
								</article>	
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<i class="icon icon_large card__icon icon-laptop"></i>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Web development</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
								</article>		
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<i class="icon icon_large card__icon icon-stats-bars"></i>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Analysis</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
								</article>	
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<i class="icon icon_large card__icon icon-support"></i>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Support</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
								</article>										
							</div>
						</div>
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-usd"></i>
								<span class="title__label">Pricing Table</span>
							</h3>
							<div class="content__section">
								<table class="price-table"> 
									<thead class="price-table__thead">
										<tr>
											<th class="price-table__th">Features</th>
											<th class="price-table__th">Basic</th>
											<th class="price-table__th">Advanced</th>
											<th class="price-table__th">Professional</th>
										</tr> 
									</thead>
									<tbody class="price-table__tbody">
										<tr class="price-table__tr">
											<td class="price-table__td">UI Design</td>
											<td class="price-table__td">Yes</td>
											<td class="price-table__td">Yes</td>
											<td class="price-table__td">Yes</td>
										</tr>
										<tr class="price-table__tr">
											<td class="price-table__td">Branding</td>
											<td class="price-table__td">Yes</td>
											<td class="price-table__td">Yes</td>
											<td class="price-table__td">Yes</td>
										</tr>
										<tr class="price-table__tr">
											<td class="price-table__td">Front-end</td>
											<td class="price-table__td">No</td>
											<td class="price-table__td">Yes</td>
											<td class="price-table__td">Yes</td>
										</tr>
										<tr class="price-table__tr">
											<td class="price-table__td">Mobile app</td>
											<td class="price-table__td">No</td>
											<td class="price-table__td">No</td>
											<td class="price-table__td">Yes</td>
										</tr>
										<tr class="price-table__tr">
											<td class="price-table__td">Support</td>
											<td class="price-table__td">Yes</td>
											<td class="price-table__td">Yes</td>
											<td class="price-table__td">Yes</td>
										</tr>
										<tr class="price-table__tr">
											<td class="price-table__td">Weeks</td>
											<td class="price-table__td">3</td>
											<td class="price-table__td">6</td>
											<td class="price-table__td">12</td>
										</tr>		
										<tr class="price-table__tr">
											<td class="price-table__td">Hours</td>
											<td class="price-table__td">120</td>
											<td class="price-table__td">240</td>
											<td class="price-table__td">480</td>
										</tr>		
										<tr class="price-table__tr">
											<td class="price-table__td">Price</td>
											<td class="price-table__td">75$ / hour</td>
											<td class="price-table__td">60$ / hour</td>
											<td class="price-table__td">45$ / hour</td>
										</tr>																			
									</tbody>
								</table>
							</div>
						</div>
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-users"></i>
								<span class="title__label">Clients</span>
							</h3>
							<div class="clients">
								<a href="#0" class="client"><img src="http://placehold.it/128x24" class="client__logo responsive-img" alt="client logo"></a>
								<a href="#0" class="client"><img src="http://placehold.it/128x24" class="client__logo responsive-img" alt="client logo"></a>
								<a href="#0" class="client"><img src="http://placehold.it/128x24" class="client__logo responsive-img" alt="client logo"></a>
								<a href="#0" class="client"><img src="http://placehold.it/128x24" class="client__logo responsive-img" alt="client logo"></a>
								<a href="#0" class="client"><img src="http://placehold.it/128x24" class="client__logo responsive-img" alt="client logo"></a>
								<a href="#0" class="client"><img src="http://placehold.it/128x24" class="client__logo responsive-img" alt="client logo"></a>
								<a href="#0" class="client"><img src="http://placehold.it/128x24" class="client__logo responsive-img" alt="client logo"></a>
								<a href="#0" class="client"><img src="http://placehold.it/128x24" class="client__logo responsive-img" alt="client logo"></a>
							</div>
						</div>					
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-comments"></i>
								<span class="title__label">Testimonials</span>
							</h3>
							<div class="content__section cards">
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<img src="http://placehold.it/150x150" class="card__avatar" alt="ava">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Full name</h4>
										<span class="card__caption">Developer, Freelancer</span>
										<blockquote class="card__description card__blockquote">
											<i class="icon card__quote card__quote-left icon-quote-left"></i>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
												Maxime, rerum suscipit facere adipisci neque quod explicabo. Atque, eveniet ut sunt.
											</p>
											<i class="icon card__quote card__quote-right icon-quote-right"></i>
										</blockquote>
									</div>
								</article>	
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<img src="http://placehold.it/150x150" class="card__avatar" alt="ava">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Full name</h4>
										<span class="card__caption">Developer, Freelancer</span>
										<blockquote class="card__description card__blockquote">
											<i class="icon card__quote card__quote-left icon-quote-left"></i>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
												Maxime, rerum suscipit facere adipisci neque quod explicabo. Atque, eveniet ut sunt.
											</p>
											<i class="icon card__quote card__quote-right icon-quote-right"></i>
										</blockquote>
									</div>
								</article>	
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<img src="http://placehold.it/150x150" class="card__avatar" alt="ava">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Full name</h4>
										<span class="card__caption">Developer, Freelancer</span>
										<blockquote class="card__description card__blockquote">
											<i class="icon card__quote card__quote-left icon-quote-left"></i>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
												Maxime, rerum suscipit facere adipisci neque quod explicabo. Atque, eveniet ut sunt.
											</p>
											<i class="icon card__quote card__quote-right icon-quote-right"></i>
										</blockquote>
									</div>
								</article>	
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<img src="http://placehold.it/150x150" class="card__avatar" alt="ava">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Full name</h4>
										<span class="card__caption">Developer, Freelancer</span>
										<blockquote class="card__description card__blockquote">
											<i class="icon card__quote card__quote-left icon-quote-left"></i>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
												Maxime, rerum suscipit facere adipisci neque quod explicabo. Atque, eveniet ut sunt.
											</p>
											<i class="icon card__quote card__quote-right icon-quote-right"></i>
										</blockquote>
									</div>
								</article>	
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<img src="http://placehold.it/150x150" class="card__avatar" alt="ava">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Full name</h4>
										<span class="card__caption">Developer, Freelancer</span>
										<blockquote class="card__description card__blockquote">
											<i class="icon card__quote card__quote-left icon-quote-left"></i>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
												Maxime, rerum suscipit facere adipisci neque quod explicabo. Atque, eveniet ut sunt.
											</p>
											<i class="icon card__quote card__quote-right icon-quote-right"></i>
										</blockquote>
									</div>
								</article>	
								<article class="card card_bg-yes">
									<header class="card__iconbox">
										<img src="http://placehold.it/150x150" class="card__avatar" alt="ava">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Full name</h4>
										<span class="card__caption">Developer, Freelancer</span>
										<blockquote class="card__description card__blockquote">
											<i class="icon card__quote card__quote-left icon-quote-left"></i>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
												Maxime, rerum suscipit facere adipisci neque quod explicabo. Atque, eveniet ut sunt.
											</p>
											<i class="icon card__quote card__quote-right icon-quote-right"></i>
										</blockquote>
									</div>
								</article>	
							</div>
						</div>
					</div>							
				</section>
				<section id="portfolio" class="tabs-infoblock">
					<div class="tabs-infoblock__inner">
						<h2 class="title main-title"><span class="main-title__label">Portfolio</span></h2>
						<div class="content__section">
							<blockquote class="blockquote">
								<i class="icon blockquote__quote blockquote__quote-left icon-quote-left"></i>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sit ipsam at et id
									quisquam magni mollitia fugit esse voluptatibus velit earum labore hic laboriosam quidem culpa
									obcaecati repudiandae delectus eligendi cum tempora amet impedit corporis! Iusto, enim, autem,
									omnis reiciendis porro amet alias non temporibus pariatur nobis adipisci saepe!
								</p>
								<i class="icon blockquote__quote blockquote__quote-right icon-quote-right"></i>
							</blockquote>
						</div>					
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-android"></i>
								<span class="title__label">Mobile application</span>
							</h3>
							<div class="cards">
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Mobile</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Mobile</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Mobile</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Mobile</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Mobile</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Mobile</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
							</div>
						</div>
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-windows"></i>
								<span class="title__label">Web application</span>
							</h3>
							<div class="cards">
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Web-design</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Web-design</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Web-design</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Web-design</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Web-design</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Name project">
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Name project</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#Web-design</span>
										</div>
										<a href="#0" class="link-flat">Live Demo</a>
									</footer>								
								</article>
							</div>
						</div>					
					</div>
				</section>
				<section id="blog" class="tabs-infoblock">
					<div class="tabs-infoblock__inner">
						<h2 class="title main-title"><span class="main-title__label">Blog</span></h2>
						<div class="content__section">
							<blockquote class="blockquote">
								<i class="icon blockquote__quote blockquote__quote-left icon-quote-left"></i>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sit ipsam at et id
									quisquam magni mollitia fugit esse voluptatibus velit earum labore hic laboriosam quidem culpa
									obcaecati repudiandae delectus eligendi cum tempora amet impedit corporis! Iusto, enim, autem,
									omnis reiciendis porro amet alias non temporibus pariatur nobis adipisci saepe!
								</p>
								<i class="icon blockquote__quote blockquote__quote-right icon-quote-right"></i>
							</blockquote>
						</div>					
						<div class="content__section">
							<div class="cards">
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Education">
										<span class="card__hashtag">28 April 2016</span>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Title post</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#blog</span>
										</div>								
										<a href="#js-post-popup" class="link-flat js-readmore">Read more</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Education">
										<span class="card__hashtag">28 April 2016</span>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Title post</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#blog</span>
										</div>								
										<a href="#js-post-popup" class="link-flat js-readmore">Read more</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Education">
										<span class="card__hashtag">28 April 2016</span>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Title post</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#blog</span>
										</div>								
										<a href="#js-post-popup" class="link-flat js-readmore">Read more</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Education">
										<span class="card__hashtag">28 April 2016</span>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Title post</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#blog</span>
										</div>								
										<a href="#js-post-popup" class="link-flat js-readmore">Read more</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Education">
										<span class="card__hashtag">28 April 2016</span>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Title post</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#blog</span>
										</div>								
										<a href="#js-post-popup" class="link-flat js-readmore">Read more</a>
									</footer>								
								</article>
								<article class="card">
									<header class="card__header">
										<img src="http://placehold.it/480x320" class="responsive-img card__img" alt="Education">
										<span class="card__hashtag">28 April 2016</span>
									</header>
									<div class="card__content">
										<h4 class="title title_small card__title">Title post</h4>
										<div class="card__description">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, consectetur, assumenda
												fugiat odit illo unde eum aspernatur harum doloribus recusandae.
											</p>
										</div>
									</div>
									<footer class="card__footer">
										<div class="tags">
											<i class="icon icon-local_offer"></i>
											<span class="tags__item tags__label">Tags:</span>
											<span class="tags__item tags__hashtag">#blog</span>
										</div>								
										<a href="#js-post-popup" class="link-flat js-readmore">Read more</a>
									</footer>								
								</article>
							</div>
						</div>				
					</div>				
				</section>	
				<section id="contacts" class="tabs-infoblock contacts js-contacts">
					<div class="tabs-infoblock__inner">
						<h2 class="title main-title"><span class="main-title__label">Contacts</span></h2>
						<div class="content__section">
							<div class="iconboxs">
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-envelope-square"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">E-mail</span>
										<span class="iconbox__label">yourmail@gmail.com</span>
									</div>
								</div>						
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-whatsapp"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">WhatsApp</span>
										<span class="iconbox__label">+7 000 000-00-00</span>
									</div>
								</div>
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-mobile2"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">Phone</span>
										<span class="iconbox__label">+7 000 000-00-00</span>
									</div>
								</div>
								<div class="iconbox">
									<i class="icon icon_middle iconbox__icon icon-skype"></i>
									<div class="iconbox__info">
										<span class="iconbox__label iconbox__name">Skype</span>
										<span class="iconbox__label">username</span>
									</div>
								</div>							
							</div>
							<div id="js-map" class="map" data-key="AIzaSyA27koLpPxsGA9HCEEpovOu5ySzCnx604c" data-lat="57.048671" data-lng="9.9201409" data-address="Gammeltorv 10,9000 Aalborg, Denmark"></div>
						</div>
						<div class="content__section">
							<h3 class="title title_middle">
								<i class="icon icon_small main-icon icon-address-book"></i>
								<span class="title__label">Contact form</span>
							</h3>
							<form class="form">
								<div class="form__inner">
									<div class="form__group form__column">
										<input type="text" class="form__element field" name="username" placeholder="Your name" pattern="^\S[а-яА-ЯёЁa-zA-Z\s]+\S" required>
										<i class="icon form__icon icon-user"></i>
										<span class="form__decor-line"></span>
									</div>
									<div class="form__group form__column">
										<input type="email" class="form__element field" name="usermail" placeholder="Your email" required>
										<i class="icon form__icon icon-envelope"></i>
										<span class="form__decor-line"></span>
									</div>
								</div>
								<div class="form__group">
									<select class="form__element select" name="subject">
										<option class="select__option">Subject</option>
										<option class="select__option">Job</option>
										<option class="select__option">Testimonial</option>
										<option class="select__option">Other</option>
									</select>
									<i class="icon form__icon icon-book"></i>
								</div>
								<div class="form__group">
									<textarea class="form__element field textarea" name="msg" placeholder="Your message" required></textarea>
									<i class="icon form__icon icon-bubbles"></i>
									<span class="form__decor-line"></span>
								</div>
								<div class="form__button-box">
									<button class="button">Send</button>
								</div>							
							</form>	
							<div class="social contacts__social">
								<a href="#0" class="icon social__icon icon-facebook"><span class="social__name">Facebook</span></a>
								<a href="#0" class="icon social__icon icon-twitter"><span class="social__name">Twitter</span></a>
								<a href="#0" class="icon social__icon icon-github"><span class="social__name">GitHub</span></a>
								<a href="#0" class="icon social__icon icon-google-plus"><span class="social__name">Google Plus</span></a>
								<a href="#0" class="icon social__icon icon-linkedin"><span class="social__name">LinkedIn</span></a>
							</div>					
						</div>	
					</div>	
				</section>					
			</div>
			<footer class="footer">
				<span>Copyright © 2016 All rights reserved</span>
			</footer>
		</div>
	</div>
</div>
<div id="js-post-popup" class="popup js-popup">
	<div class="popup__inner">
		<span class="popup__close js-popup__close"></span>
		<div class="popup__layout">
		<div class="popup__container">
			<h2 class="title popup__title">
				Title post
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, dolores, nam,
				sequi quibusdam consectetur aliquam vitae officia rem enim nihil maiores eveniet aperiam
				aliquid nesciunt ea eius fuga cupiditate minus odio non dolorum reprehenderit ratione odit
				fugit libero deserunt quasi laboriosam tenetur dolore praesentium cum architecto voluptas
				nostrum quis molestiae ipsum excepturi hic obcaecati sit consequatur distinctio quos assumenda
				adipisci inventore placeat dolor. Perferendis, asperiores, dolorem, nihil, voluptates veniam ipsa 
				dolorum quis rerum necessitatibus ab enim laborum nam accusamus modi.
			</p>
			<p>
				<img src="http://placehold.it/1500x700" class="responsive-img" alt="img for post">
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, dolores, nam,
				sequi quibusdam consectetur aliquam vitae officia rem enim nihil maiores eveniet aperiam
				aliquid nesciunt ea eius fuga cupiditate minus odio non dolorum reprehenderit ratione odit
				fugit libero deserunt quasi laboriosam tenetur dolore praesentium cum architecto voluptas
				nostrum quis molestiae ipsum excepturi hic obcaecati sit consequatur distinctio quos assumenda
				adipisci inventore placeat dolor. Perferendis, asperiores, dolorem, nihil, voluptates veniam ipsa 
				dolorum quis rerum necessitatibus ab enim laborum nam accusamus modi.
			</p>				
			<blockquote class="blockquote">
				<i class="icon blockquote__quote blockquote__quote-left icon-quote-left"></i>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, sit ipsam at et id
					quisquam magni mollitia fugit esse voluptatibus velit earum labore hic laboriosam quidem culpa
					obcaecati repudiandae delectus eligendi cum tempora amet impedit corporis! Iusto, enim, autem,
					omnis reiciendis porro amet alias non temporibus pariatur nobis adipisci saepe!
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam velit beatae recusandae saepe
					quaerat illo id magni dignissimos corporis enim. Aut, soluta, vitae, dolorem accusamus et iste quidem 
					nostrum blanditiis voluptatum quam sunt veniam laborum. Ipsum, facere earum doloribus. Veritatis.
				</p>
				<i class="icon blockquote__quote blockquote__quote-right icon-quote-right"></i>
			</blockquote>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, dolores, nam,
				sequi quibusdam consectetur aliquam vitae officia rem enim nihil maiores eveniet aperiam
				aliquid nesciunt ea eius fuga cupiditate minus odio non dolorum reprehenderit ratione odit
				fugit libero deserunt quasi laboriosam tenetur dolore praesentium cum architecto voluptas
				nostrum quis molestiae ipsum excepturi hic obcaecati sit consequatur distinctio quos assumenda
				adipisci inventore placeat dolor. Perferendis, asperiores, dolorem, nihil, voluptates veniam ipsa 
				dolorum quis rerum necessitatibus ab enim laborum nam accusamus modi.
			</p>					
		</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="../js/components/nav.js"></script>
<script src="../js/components/map.js"></script>
<script src="../js/components/popup.js"></script>
<script src="../js/main.js" async></script>
</body>
</html>